#azure validation PATH
spring:
  cloud:
    azure:
      storage:
        blob:
          account-name: [ffernacustorage]
          account-key: [tG2O5KwEu/Xoa93o+yssmJ5QjVRmw3Z47ESkngQ0PeXEF2wJGgPL7CyTcwRpJ0B4Vw6BkiJtBw9q+AStFhmJ/Q==]
          endpoint: [DefaultEndpointsProtocol=https;AccountName=ffernacustorage;AccountKey=tG2O5KwEu/Xoa93o+yssmJ5QjVRmw3Z47ESkngQ0PeXEF2wJGgPL7CyTcwRpJ0B4Vw6BkiJtBw9q+AStFhmJ/Q==;EndpointSuffix=core.windows.net]
  #CONEXION DATABASE
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  datasource:
    url: jdbc:postgresql://localhost:5431/empleado
    username: nttdata
    password: 1234
aadi:
  #ONPREMISE APIS PATH
  esb:
    api:
      storage-download:
        endpoint: /downloadBlobFile/{fileName}
      read-blob-file:
        endpoint: /readBlobFile/{fileName}
      storage-upload:
        endpoint: /uploadBlobFile
  #CLOUD APIS PATH
  cloud:
    api:
      storage:
        endpoint: https://ffernacustorage.blob.core.windows.net
        blob:
          endpoint: https://ffernacustorage.blob.core.windows.net/container-test/
        container:
          name: container-test
        connection-string: DefaultEndpointsProtocol=https;AccountName=ffernacustorage;AccountKey=tG2O5KwEu/Xoa93o+yssmJ5QjVRmw3Z47ESkngQ0PeXEF2wJGgPL7CyTcwRpJ0B4Vw6BkiJtBw9q+AStFhmJ/Q==;EndpointSuffix=core.windows.net

commons:
  async:
    thread:
      queuecapacity: 0
      corepoolsize: 3
      maxPoolSize: 10


